.App {
  text-align: center;
}

.form-flex{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;
    flex-wrap: wrap;
}


.box{
    width: 100px;
    height: 100px;
    margin: 0 auto;
}




